<h1>O mnie</h1>
<p>Rails oparte jest o architekturę MVC, tzn. klient po wyświetleniu widoku (w tym przypadku wygenerowanej strony HTML), wysyła do aplikacji żądanie (klikając w odpowiedni link na stronie lub wypełniając formularz). Żądanie jest przyjmowane przez kontroler, który generuje odpowiedź w formie widoku wysyłanego do klienta (najczęściej kontroler w celu wygenerowania odpowiedzi pobiera dane z modelu, który w Rails implementowany jest jako relacyjna baza danych). Poniżej szczegółowo omówiono mechanizmy odpowiedzialne w Rails za model MVC.</p>
