<div class="jumbotron">
<h1>Witaj w aplikacji</h1>
<p>Find me in app/views/home/index.html.erb</p>
  <%= link_to 'O mnie', home_about_path, class: "btn btn-primary btn-lg" %>
  <%= link_to 'Strona główna', root_path, class: "btn btn-info btn-lg" %>
</div>
